#firstUp,#secondUp,#thirdUp,#fourthUp,#fifthUp {
  display: none;
}

#previewMsg {
  display: block;
}
#previewMsg p {
  font-size: 19px;
}

#dlTrigger {
  display: none;
}

#firstPage, #secondPage {
  display: none;
}
